{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <ol class="breadcrumb">
            <li>日志组</li>
            <li>日志列表</li>
        </ol>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>内容</th>
                <th>添加时间</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
            <tr>
                <th scope="row">{{book.id}}</th>
                <td>{{book.title}}</td>
                <td>{{book.content}}</td>
                <td>{{book.create_time}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}